.CTAButton {
	width: 300px;
	height: 64px;
	border-radius: 80px;
	background: rgb(250, 213, 188);
	background: linear-gradient(90deg, rgba(250, 213, 188, 1) 0%, rgba(155, 135, 255, 1) 100%);
	border: none;
	font-weight: 700;
	font-size: 0.8em;
	transition: background-color 2s ease-out;
}

.ButtonIcon {
	height: 20px;
}

.ButtonContent {
	display: flex;
	gap: 30px;
	justify-content: center;
	align-items: center;
}

.CTAButton:hover {
	background: rgb(155, 135, 255);
	background: linear-gradient(65deg, rgba(155, 135, 255, 1) 0%, rgba(250, 213, 188, 1) 100%);
}