.NFTsContainer{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 70%;
	align-items: center;
	margin: auto;
	gap: 80px;
}

@media (max-width:720px) {
	
}

@media (max-width:480px) {
	.NFTsContainer{
		display: flex;
		flex-direction: column;
		gap: 64px;
	}
}