.AuthPage{
	display: flex;
	gap: 15px;
	flex-direction: column;
	align-items: center;
	margin-bottom: 60px;
}

.PageTitle {
	width: 70%;
	font-weight: 700;
	font-size: 1.5em;
	margin: auto;
	text-align: center;
}

.AuthCalculateBanner{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #1D1E1B;
	color: #FFF;
	width: 480px;
	gap: 20px;
	border-radius: 10px;
	padding: 40px;
	text-align: center;
}