.Dashboard{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 64px;
	gap: 64px;
}

.DashboardButtons{
	display: flex;
	flex-direction: row;
	gap: 40px;
}

.ImpactScoreContainer{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}