.Home {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	width: 80%;
	height: 100%;
	margin: auto;
}

.PageTitle {
	width: 70%;
	font-weight: 700;
	font-size: 1.5em;
	margin: auto;
	text-align: center;
}

@media (max-width:720px) {}

@media (max-width:480px) {
	.PageTitle{
		width: 90%;
	}
}