.NavBar {
	width: 100%;
	display: flex;
	align-items: center;
}

.NavContent {
	display: flex;
	flex-direction: row;
	gap: 400px;
	margin: auto;
	margin-bottom: 50px;
}

.NavLogo {
	width: 150px;
}

.NavConnectButton {
	border-radius: 50px;
	border: none;
	height: 40px;
	background: rgb(255, 182, 182);
	background: linear-gradient(65deg, rgba(255, 182, 182, 1) 0%, rgba(250, 213, 188, 1) 100%);
}

.ButtonText {
	padding: 20px;
}