    /* RESET STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

    .indicator {
    	margin: 0 auto;
    	padding: 0;
    	list-style-type: none;
    }

    .indicator *,
    .indicator::before {
    	box-sizing: border-box;
    }

    /* indicator STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

    .indicator {
    	position: relative;
    	width: 350px;
    	height: 175px;
    	overflow: hidden;
    }

    .indicator::before,
    .indicator::after {
    	position: absolute;
    }

    .indicator::before {
    	content: "";
    	width: inherit;
    	height: inherit;
    	border: 32px solid #D9D9D9;
    	border-bottom: none;
		/* border-radius: 5px; */
    	border-top-left-radius: 175px;
    	border-top-right-radius: 175px;
    }

    .indicator span.bar {
    	position: absolute;
    	top: 100%;
    	left: 0;
    	width: inherit;
    	height: inherit;
    	border: 32px solid;
    	border-top: none;
    	border-bottom-left-radius: 175px;
    	border-bottom-right-radius: 175px;
    	transform-origin: 50% 0;
    	transform-style: preserve-3d;
    	backface-visibility: hidden;
    	animation-fill-mode: forwards;
    	animation-duration: 0.4s;
    	animation-timing-function: linear;
    	z-index: 4;
		/* border-radius: 10px; */
    	/* border-color: green; */
    	/* background: rgb(250, 213, 188); */
    	/* background: linear-gradient(90deg, rgba(250, 213, 188, 1) 0%, rgba(206, 198, 245, 1) 100%); */
    	animation-name: rotate-one;
    }

    .indicator span.result {
    	position: absolute;
    	left: 50%;
    	bottom: 0;
    	transform: translateX(-50%);
    	font-size: 3em;
    	font-weight: 500;
    	color: #000;
    }

    span.result span:nth-child(1) {
    	font-size: 4rem;
    }

    @keyframes rotate-one {
    	0% {
    		transform: rotate(0);
    	}
    }

	.ImpactContainer{
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 20px;
	}