.ExplanationBox{
	display: flex;
	flex-direction: column;
	background-color: #1D1E1B;
	border-radius: 10px;
	width: 50%;
}

.ExplanationBoxText{
	color: #FFF;
}

.ExplanationWrapper{
	display: flex;
	flex-direction: column;
	gap: 20px;
}