body {
	margin: none;
	background: rgb(255, 255, 255);
	background: radial-gradient(circle, rgba(255, 255, 255, 1) 56%, rgba(233, 233, 168, 1) 75%, rgba(244, 215, 192, 1) 83%, rgba(211, 201, 226, 1) 92%, rgba(200, 228, 239, 1) 100%);
}